frt-bindings/src/main/wsdl/com.fastrailticketing.ccstprinting.printjobs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="https://ccstprinting.fastrailticketing.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ccstprinting.fastrailticketing.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="PrintJobsAPISoap" targetNamespace="ccstprinting.fastrailticketing.com">
  <wsdl:import namespace="https://ccstprinting.fastrailticketing.com" location="https://otrl-ccstprinting.fastrailticketing.com/PrintJobs.svc?wsdl=wsdl0"/>
  <wsdl:types>
    <xsd:schema targetNamespace="ccstprinting.fastrailticketing.com/Imports">
      <xsd:import schemaLocation="https://otrl-ccstprinting.fastrailticketing.com/PrintJobs.svc?xsd=xsd0" namespace="ccstprinting.fastrailticketing.com"/>
      <xsd:import schemaLocation="https://otrl-ccstprinting.fastrailticketing.com/PrintJobs.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintJobs_createJob_InputMessage">
    <wsdl:part name="parameters" element="tns:createJob"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_createJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:createJobResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_createRemoteJob_InputMessage">
    <wsdl:part name="parameters" element="tns:createRemoteJob"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_createRemoteJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRemoteJobResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getTicketStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:getTicketStocks"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getTicketStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTicketStocksResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryChannels"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryChannelsResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryCountries"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryCountriesResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryMethods"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getDeliveryMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryMethodsResponse"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getRemoteSpoolers_InputMessage">
    <wsdl:part name="parameters" element="tns:getRemoteSpoolers"/>
  </wsdl:message>
  <wsdl:message name="IPrintJobs_getRemoteSpoolers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRemoteSpoolersResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPrintJobs">
    <wsdl:operation name="createJob">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/createJob" message="tns:IPrintJobs_createJob_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/createJobResponse" message="tns:IPrintJobs_createJob_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createRemoteJob">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/createRemoteJob" message="tns:IPrintJobs_createRemoteJob_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/createRemoteJobResponse" message="tns:IPrintJobs_createRemoteJob_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getTicketStocks">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getTicketStocks" message="tns:IPrintJobs_getTicketStocks_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getTicketStocksResponse" message="tns:IPrintJobs_getTicketStocks_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDeliveryChannels">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryChannels" message="tns:IPrintJobs_getDeliveryChannels_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryChannelsResponse" message="tns:IPrintJobs_getDeliveryChannels_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDeliveryCountries">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryCountries" message="tns:IPrintJobs_getDeliveryCountries_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryCountriesResponse" message="tns:IPrintJobs_getDeliveryCountries_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDeliveryMethods">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryMethods" message="tns:IPrintJobs_getDeliveryMethods_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getDeliveryMethodsResponse" message="tns:IPrintJobs_getDeliveryMethods_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getRemoteSpoolers">
      <wsdl:input wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getRemoteSpoolers" message="tns:IPrintJobs_getRemoteSpoolers_InputMessage"/>
      <wsdl:output wsaw:Action="ccstprinting.fastrailticketing.com/IPrintJobs/getRemoteSpoolersResponse" message="tns:IPrintJobs_getRemoteSpoolers_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PrintJobsAPISoap">
    <wsdl:port name="PrintJobsAPISoap" binding="i0:PrintJobsAPISoap">
      <soap:address location="https://otrl-ccstprinting.fastrailticketing.com/PrintJobs.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
